@font-face {
    font-family: 'Heavitas';
    src: url('../fonts/Heavitas.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: 'Heavitas', sans-serif;
}

/* Header */

header {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
}

.header img {
    height: 90px;
    width: auto;
}

.header-links a{
    text-decoration: none;
    color: rgb(51,51,51);
    display: inline-block;
}

.header-links a[target=login]:hover{
    text-decoration: underline;
}

.header-links a[target=register]:hover{
    text-decoration: underline;
}

.header-links::before {
    display: inline-block;
    transform: scale(0.058);
    translate: -30px -22px;
    width: 35px;
    height: 35px;
    content: url(../Profile_Logo.svg);
}

div .account-links{
  float: left;
  display: block;
}

div .basket-links{
  float: right;
}

.header-links a#basket-links{
    height: 50px;
    transition: ease-in-out 0.3s;
    border-radius: 18px;
}

.header-links a#basket-links:hover{
    background-color: #a5a5a5;
}

.items{
    margin-left: 3px;
    margin-right: 3px;    
    border-radius: 11px;
    background: #ffee32;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Bar */

ul.topnav {
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

ul.topnav li {
    flex: 1;
    display: flex;
}

ul.topnav li a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    text-decoration: none;
    padding: 14px 16px;
    background-color: #333333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
}

ul.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffee32;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

/* ... */

.search {
    display: inline-block;
    position: relative;
}

.search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: #ffee32;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 1px 2px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}

.search button[type="submit"]:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 0);
}

.search input[type="text"]:focus-visible {
    outline: 3px solid #ffee32;
}