<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="Empowr">
    <meta name="keywords" content="Empowr, ecommerce, tech, accessories">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Empowr{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body style="margin: 0; padding: 0;">

    {% block header %}
    <header>
        <div class="header">

            <img src="{% static 'Empowr_Logo_C.svg' %}" alt="Empowr Logo"
                 style="padding-top: 20px; padding-bottom: 20px; scale: 0.8; margin-left: -20px;">

            <div class="search" style="width:500px; padding-left: 50px; margin-right: 150px;">
                <input type="text" placeholder="Search.." name="search" style="width:480px">
                <button type="submit">
                    <img src="{% static 'search_logo.svg' %}" alt="Search" style="width:30px; height:30px;">
                </button>
            </div>

            <div class="header-links" style="width: 400px; display: flex; align-items: center; height: 50px;">
                <div class="account-links" style="width: 180px;">
                    <div href="#" style="padding-right:25px;">
                        <span data-action="myAccountMenu" role="button"
                              aria-label="open my account menu" aria-pressed="false"
                              style="display: flex;">
                            <i></i> My Account
                        </span>
                    </div>
                    <div style="justify-content: center; font-size: x-small">
                        <ul style="list-style-type:none; display: flex; padding:0; margin:0">
                            <li>
                                <a href="{% url 'login' %}" rel="nofollow"
                                   style="border-right: 1px solid #5d5c5c; padding-right: 5px;">
                                    Log In
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}" rel="nofollow" style="padding-left: 5px;">
                                    Create Account
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="basket-links">
                    <a id="basket-links" href="#"
                       style="margin-left:20px; padding-left: 5px; display: flex; justify-content: center; align-items: center;">
                        <span class="items"><strong>0</strong></span>
                        <img src="{% static 'Basket_Logo.svg' %}" alt="Basket Logo"
                             style="width: 35px; margin-left: 3px; margin-right: 3px;">
                        <span class="price" style="margin-left: 3px; margin-right: 3px;">£0.00</span>
                        <img src="{% static 'Dropdown_Arrow.svg' %}" alt="Dropdown Arrow" class="btn"
                             style="width:20px; margin-left: 3px; margin-right: 3px;">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <ul class="topnav">
        <li><a href="#">Keyboards</a></li>
        <li><a href="#">Mice</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Printers</a></li>
        <li><a href="#">Controllers</a></li>
        <li><a href="#">Desks & Chairs</a></li>
        <li><a href="#">Cameras & Microphones</a></li>
    </ul>
    {% endblock header %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% block footer %}
    <footer>
        <div class="footer-links" style="color: black;">
            <a href="#" style="color: black; text-decoration: none;">Information</a> ｜
            <a href="#" style="color: black; text-decoration: none;">My Account</a> ｜
            <a href="#" style="color: black; text-decoration: none;">Support</a>
        </div>
    </footer>
    {% endblock footer %}

</body>
</html>