<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Home Page">
    <meta name="keywords" content="HTML, CSS, Django">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empowr</title>
</head>

<body>

    <header>
        <img src="../static/Empowr_Logo.jpg" alt="Empowr Logo" style="width:555px;height:128px;">
        <div class="search">
            <input type="text" class="input" placeholder="Search.." name="search">
            <button type="submit"><img src="../static/search_logo.svg" alt="Search" style="width:50px;height:30px;"></button>
        </div>
        account
        basket
    </header>

    <ul class="topnav">
        <li><a href="#">Keyboards</a></li>
        <li><a href="#">Mice</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Printers</a></li>
        <li><a href="#">Controllers</a></li>
        <li><a href="#">Desks & Chairs</a></li>
        <li><a href="#">Cameras & Microphones</a></li>
    </ul>

    The content of the document......

   <footer>
    <div class="footer-links" style="color: black;">
        <a href="#" style="color: black; text-decoration: none;">Information</a> ｜ 
        <a href="#" style="color: black; text-decoration: none;">My Account</a> ｜ 
        <a href="#" style="color: black; text-decoration: none;">Support</a>
     </div>
</footer>

</body>

</html>