<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Home Page">
    <meta name="keywords" content="HTML, CSS, Django">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empowr</title>
</head>

<body>

    <header>
        <div class="header">
            <img src="../static/Empowr_Logo_C.svg" alt="Empowr Logo">
            <div class="search" style="width:500px; padding-left: 50px;">
                <input type="text" placeholder="Search.." name="search" style="width:480px">
                <button type="submit">
                    <img src="../static/search_logo.svg" alt="Search" style="width:30px;height:30px;">
                </button>
            </div>
            <div class="header-links" style="width:400px;">
                <a href="#" style="padding-right:25px;">Account</a>
                <a href="#" style="padding-left:25px;">
                    <span class="items"><Strong>0</Strong></span>
                    <imgsrc="../static/Basket_Logo.svg" alt="Basket Logo"></img>
                    <span class="price">£0.00</span>
                    <span class="btn">^</span>
                </a>
            </div>
        </div>
    </header>



    <ul class="topnav">
        <li><a href="#">Keyboards</a></li>
        <li><a href="#">Mice</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Printers</a></li>
        <li><a href="#">Controllers</a></li>
        <li><a href="#">Desks & Chairs</a></li>
        <li><a href="#">Cameras & Microphones</a></li>
    </ul>

    The content of the document......

    <footer>
        <div class="footer-links" style="color: black;">
            <a href="#" style="color: black; text-decoration: none;">Information</a> ｜
            <a href="#" style="color: black; text-decoration: none;">My Account</a> ｜
            <a href="#" style="color: black; text-decoration: none;">Support</a>
        </div>
    </footer>

</body>

</html>