{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form">
    <h1>Customer Login</h1>

    {% if form.errors %}
    <p>Invalid email or password.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-container">
            <input placeholder="Email Address" class="input-field" type="email" name="username" required>
            <label class="input-label">
                Email Address<span class="validity"></span>
            </label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input placeholder="Password" class="input-field" type="password" name="password" required>
            <label class="input-label">
                Password<span class="validity"></span>
            </label>
            <span class="input-highlight" style="bottom: 21px;"></span>
            <a href="./forgot_password.html" class="forgot-password">Forgotten password?</a>
        </div>

        <button class="submit" type="submit">Sign In</button>

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </form>
</div>
{% endblock content %}