{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form">
    <h1>Customer Login</h1>
    <form method="post">
        <div class="input-container" required="">
            <input placeholder="Email Address" class="input-field" type="email" name="email">
            <label for="input-field" class="input-label">
                Email Address<span class="validity"></span>
            </label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container" required="">
            <input placeholder="Password" class="input-field" type="password" name="password">
            <label for="input-field" class="input-label">
                Password<span class="validity"></span>
            </label>
            <span class="input-highlight" style="bottom: 21px;"></span>
            <a href="./forgot_password.html" class="forgot-password">Forgotten password?</a>
        </div>

        <button class="submit" type="submit">Sign In</button>

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </form>
</div>
{% endblock content %}