{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="form">
    <h1>Create Account</h1>

    {# show any error messages #}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}

        <div class="input-container">
            <select class="input-field" style="width: 100%;" name="title">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
                <option value="Dr">Dr</option>
                <option value="Mx">Mx</option>
                <option value="Other">Other</option>
            </select>
            <label class="input-label">Title<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="first_name" placeholder="First Name" class="input-field" type="text" required>
            <label class="input-label">First Name<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="last_name" placeholder="Last Name" class="input-field" type="text" required>
            <label class="input-label">Last Name<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="email" placeholder="Email Address" class="input-field" type="email" required>
            <label class="input-label">Email Address<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="phone" placeholder="Telephone" class="input-field" type="text">
            <label class="input-label">Telephone</label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="password1" placeholder="Password" class="input-field" type="password" required>
            <label class="input-label">Password<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <div class="input-container">
            <input name="password2" placeholder="Confirm Password" class="input-field" type="password" required>
            <label class="input-label">Confirm Password<span class="validity"></span></label>
            <span class="input-highlight"></span>
        </div>

        <button class="submit" type="submit">Submit</button>
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    </form>
</div>

{% endblock content %}